<br>
<br>
<br>
<br>
Digite o nome
<br>
<br>
<a href="cadastrar/direcao"><button type="button" class="btn btn-primary">Novo</button></a>
<br>
<br>
<div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {{#each usuario}}
            <tr>
                <th scope="row">1</th>
                <td>{{this.nome}}</td>
                <td>{{this.cpf}}</td>
                <td>{{this.nascimento}}</td>
                <td>
                    <a href="altera/{{this.id}}">Alterar</a>/
                    <a href="deleta/{{this.id}}">Excluir</a></td>
            </tr>
            {{else}}
            <tr>
                <th scope="row">--</th>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>